<html>
  <h2>Log in</h2>
    <form action="<%= session_url %>" method="POST" >

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label>Username:
        <input type="text" name="session[user_name]">
      </label>

      &nbsp &nbsp

      <label>Password:
        <input type="text" name="session[password]">
      </label>

      <input type = "submit" value = "Log in!">
    </form>

    <ul>
      <% if flash[:messages] %>
        <% flash[:messages].each do |error_msg| %>
        <li><%= error_msg %></li>
        <% end %>
      <% end %>
    </ul>
</html>
